.component {
    height: 157px;
    overflow: hidden;
    width: 1273px;
  }
  
  .component .frame-13 {
    height: 157px;
    position: relative;
    width: 2889px;
  }
  
  .component .frame-14 {
    align-items: center;
    display: inline-flex;
    gap: 80px;
    left: 0;
    position: absolute;
    top: 0;
  }
  
  .component .group-2 {
    height: 157px;
    position: relative;
    width: 107px;
  }
  
  .component .rectangle-3 {
    height: 105px;
    object-fit: cover;
    position: absolute;
    width: 105px;
  }
  
  .component .text-wrapper-16 {
    color: #ffffff;
    font-family: "Inter", Helvetica;
    font-size: 12px;
    font-weight: 400;
    height: 15px;
    left: 8px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 142px;
  }
  
  .component .rectangle-4 {
    height: 105px;
    object-fit: cover;
    position: absolute;
    width: 105px;
  }
  
  .component .text-wrapper-17 {
    color: #ffffff;
    font-family: "Inter", Helvetica;
    font-size: 12px;
    font-weight: 400;
    height: 15px;
    left: 24px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 142px;
  }
  
  .component .rectangle-5 {
    height: 105px;
    object-fit: cover;
    position: absolute;
    width: 105px;
  }
  
  .component .rectangle-6 {
    height: 105px;
    object-fit: cover;
    position: absolute;
    width: 105px;
  }
  
  .component .text-wrapper-18 {
    color: #ffffff;
    font-family: "Inter", Helvetica;
    font-size: 12px;
    font-weight: 400;
    height: 15px;
    left: 31px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 142px;
  }
  
  .component .rectangle-7 {
    height: 105px;
    object-fit: cover;
    position: absolute;
    width: 105px;
  }
  
  .component .text-wrapper-19 {
    color: #ffffff;
    font-family: "Inter", Helvetica;
    font-size: 12px;
    font-weight: 400;
    height: 15px;
    left: 27px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 142px;
  }
  
  .component .rectangle-8 {
    height: 105px;
    object-fit: cover;
    position: absolute;
    width: 105px;
  }
  
  .component .text-wrapper-20 {
    color: #ffffff;
    font-family: "Inter", Helvetica;
    font-size: 12px;
    font-weight: 400;
    height: 15px;
    left: 14px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 142px;
  }
  
  .component .rectangle-9 {
    height: 105px;
    object-fit: cover;
    position: absolute;
    width: 105px;
  }
  
  .component .text-wrapper-21 {
    color: #ffffff;
    font-family: "Inter", Helvetica;
    font-size: 12px;
    font-weight: 400;
    height: 15px;
    left: 29px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 142px;
  }
  
  .component .group-3 {
    height: 157px;
    margin-right: -2.00px;
    position: relative;
    width: 107px;
  }
  
  .component .rectangle-10 {
    height: 105px;
    object-fit: cover;
    position: absolute;
    width: 105px;
  }
  
  .component .text-wrapper-22 {
    color: #ffffff;
    font-family: "Inter", Helvetica;
    font-size: 12px;
    font-weight: 400;
    height: 15px;
    left: 33px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 142px;
  }
  
  .component .frame-15 {
    align-items: center;
    display: inline-flex;
    gap: 80px;
    left: 1489px;
    position: absolute;
    top: 0;
  }
  
  .component .rectangle-11 {
    height: 105px;
    object-fit: cover;
    position: absolute;
    width: 105px;
  }
  
  .component .rectangle-12 {
    height: 105px;
    object-fit: cover;
    position: absolute;
    width: 105px;
  }
  
  .component .rectangle-13 {
    height: 105px;
    object-fit: cover;
    position: absolute;
    width: 105px;
  }
  
  .component .rectangle-14 {
    height: 105px;
    object-fit: cover;
    position: absolute;
    width: 105px;
  }
  
  .component .rectangle-15 {
    height: 105px;
    object-fit: cover;
    position: absolute;
    width: 105px;
  }
  
  .component .rectangle-16 {
    height: 105px;
    object-fit: cover;
    position: absolute;
    width: 105px;
  }
  
  .component .rectangle-17 {
    height: 105px;
    object-fit: cover;
    position: absolute;
    width: 105px;
  }
  
  .component .rectangle-18 {
    height: 105px;
    object-fit: cover;
    position: absolute;
    width: 105px;
  }
  
  .component .frame-11 {
    left: -1489px;
  }
  
  .component .frame-13.frame-10 .rectangle-3 {
    left: 0;
    top: 0;
  }
  
  .component .frame-13.frame-11 .rectangle-3 {
    left: 1469px;
    top: -331px;
  }
  
  .component .frame-13.frame-10 .rectangle-4 {
    left: 0;
    top: 0;
  }
  
  .component .frame-13.frame-11 .rectangle-4 {
    left: 1469px;
    top: -331px;
  }
  
  .component .frame-13.frame-10 .rectangle-5 {
    left: 0;
    top: 0;
  }
  
  .component .frame-13.frame-11 .rectangle-5 {
    left: 1469px;
    top: -331px;
  }
  
  .component .frame-13.frame-10 .rectangle-6 {
    left: 0;
    top: 0;
  }
  
  .component .frame-13.frame-11 .rectangle-6 {
    left: 1469px;
    top: -331px;
  }
  
  .component .frame-13.frame-10 .rectangle-7 {
    left: 0;
    top: 0;
  }
  
  .component .frame-13.frame-11 .rectangle-7 {
    left: 1469px;
    top: -331px;
  }
  
  .component .frame-13.frame-10 .rectangle-8 {
    left: 0;
    top: 0;
  }
  
  .component .frame-13.frame-11 .rectangle-8 {
    left: 1469px;
    top: -331px;
  }
  
  .component .frame-13.frame-10 .rectangle-9 {
    left: 0;
    top: 0;
  }
  
  .component .frame-13.frame-11 .rectangle-9 {
    left: 1469px;
    top: -331px;
  }
  
  .component .frame-13.frame-10 .rectangle-10 {
    left: -20px;
    top: -20px;
  }
  
  .component .frame-13.frame-11 .rectangle-10 {
    left: 1469px;
    top: -331px;
  }
  
  .component .frame-13.frame-10 .rectangle-11 {
    left: -1509px;
    top: -20px;
  }
  
  .component .frame-13.frame-11 .rectangle-11 {
    left: 0;
    top: 0;
  }
  
  .component .frame-13.frame-10 .rectangle-12 {
    left: -1509px;
    top: -20px;
  }
  
  .component .frame-13.frame-11 .rectangle-12 {
    left: 0;
    top: 0;
  }
  
  .component .frame-13.frame-10 .rectangle-13 {
    left: -1509px;
    top: -20px;
  }
  
  .component .frame-13.frame-11 .rectangle-13 {
    left: 0;
    top: 0;
  }
  
  .component .frame-13.frame-10 .rectangle-14 {
    left: -1509px;
    top: -20px;
  }
  
  .component .frame-13.frame-11 .rectangle-14 {
    left: 0;
    top: 0;
  }
  
  .component .frame-13.frame-10 .rectangle-15 {
    left: -1509px;
    top: -20px;
  }
  
  .component .frame-13.frame-11 .rectangle-15 {
    left: 0;
    top: 0;
  }
  
  .component .frame-13.frame-10 .rectangle-16 {
    left: -1509px;
    top: -20px;
  }
  
  .component .frame-13.frame-11 .rectangle-16 {
    left: 0;
    top: 0;
  }
  
  .component .frame-13.frame-10 .rectangle-17 {
    left: -1509px;
    top: -20px;
  }
  
  .component .frame-13.frame-11 .rectangle-17 {
    left: 0;
    top: 0;
  }
  
  .component .frame-13.frame-10 .rectangle-18 {
    left: -1509px;
    top: -20px;
  }
  
  .component .frame-13.frame-11 .rectangle-18 {
    left: -20px;
    top: -331px;
  }
  